.score-board {
  background-color: #454545;       
  color: #ffffff;                  
  padding: 16px 16px;             
  border-radius: 8px;             
  width: 300px;
  margin: 20px auto;               
  text-align: center;             
}

.score-board h2 {
  margin-bottom: 1px;
  font-size: 2rem;
}

.score-board ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.score-board li {
  margin: 4px 0;
  font-weight: 500;
}
